@import 'tailwindcss';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop{
    -webkit-tap-highlight-color: transparent;
  },
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
  button:hover{
    transform: scale(1.05);
    transform-style: preserve-3d;
  }
}